.left-side {
    width: 200px;
    float: left;
}

.stepnode {
    border:1px solid black;
    position:absolute !important;
    width:5em;
    height:5em;
    padding: 0.5em;
    z-index:1;
    border-radius:0.5em;
    box-shadow: 2px 2px 19px #aaa;
    background: white;
}

/*#container1 { top:10em; left:40em;}*/
/*#container2 { top:25em; left:22em;}*/
/*#container3 { top:25em; left:40em;}*/

.dragActive {
    border: 2px dotted orange;
}
#whiteboard {
    width: 700px;
    height: 700px;
    background-color: rgb(244, 244, 244);
    margin-left: 200px;
    position: absolute;
    background-image: url("../images/grid.png");
}
.right-side {
    margin: 10px;
}

.block-cartridge {
    width: 70px;
    height: 70px;
    background-color: rgb(109, 123, 112);
    float: left;
    margin: 5px;
    padding: 10px;
}

.block-group {
    width: 70px;
    height: 70px;
    background-color: rgb(109, 123, 112);
    float: left;
    margin: 5px;
    padding: 10px;
}